<h4 class="mt-5 animated fadeIn fast">Crear un nuevo empleado</h4>
<hr>
<div class="container p-4 mt-5 animated fadeIn">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card-header">
                <h4>Datos del empleado</h4>
            </div>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="employeeFomr" (ngSubmit)="onSubmit()">
                        <div class=" form-group">
                            <input type="text" formControlName="primerApellido" class="form-control"
                                placeholder="primer apellido" autofocus required>
                            <span style="color:red"
                                *ngIf="employeeFomr.controls.primerApellido.errors  && employeeFomr.controls.primerApellido.touched">
                                Asegurese de cumplir los siguientes requisitos:todo en Mayuscula, no debe exceder 30
                                caracteres, no debe
                                contener acentos y su longitud no puede mayor a 30 caracteres</span>
                        </div>

                        <div class="form-group">
                            <input type="text" formControlName="segundoApellido" class="form-control"
                                placeholder="segundo apellido" required>
                        </div>
                        <span style="color:red"
                            *ngIf="employeeFomr.controls.segundoApellido.errors  && employeeFomr.controls.segundoApellido.touched">
                            Asegurese de cumplir los siguientes requisitos:todo en Mayuscula, no debe exceder 30
                            caracteres, no debe
                            contener acentos y su longitud no puede mayor a 30 caracteres</span>

                        <div class="form-group">
                            <input type="text" formControlName="primerNombre" class="form-control"
                                placeholder="primer nombre" required>
                        </div>
                        <span style="color:red"
                            *ngIf="employeeFomr.controls.primerNombre.errors  && employeeFomr.controls.primerNombre.touched">
                            Asegurese de cumplir los siguientes requisitos:todo en Mayuscula, no debe exceder 30
                            caracteres, no debe
                            contener acentos y su longitud no puede mayor a 30 caracteres</span>

                        <div class="form-group">
                            <input type="text" formControlName="otrosNombres" class="form-control"
                                placeholder="otros nombres" required>
                        </div>
                        <span style="color:red"
                            *ngIf="employeeFomr.controls.otrosNombres.errors  && employeeFomr.controls.otrosNombres.touched">
                            Asegurese de cumplir los siguientes requisitos:todo en Mayuscula, no debe exceder 30
                            caracteres, no debe
                            contener acentos y su longitud no puede mayor a 30 caracteres</span>

                        <div class="form-group">
                            <label for="paisEmpleo">Pais</label>
                            <select id="paisEmpleo" class="form-control" formControlName="paisEmpleo" required>
                                <option>Colombia</option>
                                <option>Estados Unidos</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="tipoIdentificacion">Tipo de documento</label>
                            <select id="tipoIdentificacion" formControlName="tipoIdentificacion" class="form-control"
                                required>
                                <option>Cedula de Ciudadania</option>
                                <option>Cedula de Extranjeria</option>
                                <option>Pasaporte</option>
                                <option>Permiso Especial</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="numeroIdentificacion" type="text" formControlName="numeroIdentificacion"
                                class="form-control" placeholder="Número de identificacion" required>
                        </div>

                        <div class="form-group">
                            <input type="date" formControlName="fechaIngreso" min="2021-10-08" max="2021-10-11"
                                class="form-control" placeholder="fechaIngreso">
                        </div>

                        <span style="color:red"
                            *ngIf="employeeFomr.controls.otrosNombres.errors  && employeeFomr.controls.otrosNombres.touched">
                            La fecha es requerida</span>
                        <div class="form-group">
                            <label for="area">Area</label>
                            <select id="area" formControlName="area" class="form-control" required>

                                <option>Administracion</option>
                                <option>Financiera</option>
                                <option>Compras</option>
                                <option>Infraestructura</option>
                                <option>Operacion</option>
                                <option>Talento Humano</option>
                                <option>Servicios Varios</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <!--  -->
                            <button class="btn btn-primary btn-block" [disabled]="!employeeFomr.valid" type="submit">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>