<div *ngIf="employees.length == 0" class="row animated fadeIn fast mt-5">
    <div class="col-md-12">
        <div class="alert alert-info">
            <span class="btn btn-outline-success" [routerLink]="['/employees/add']">Registrar</span>
        </div>
    </div>
</div>

<div class="card-columns mt-5 text-center animated fadeIn">
    <app-employee [employee]="employee" *ngFor="let employee of employees"></app-employee>
</div>