<div *ngIf="employee" class="card text-left" style="width: 18rem">
    <div class="card-header text-center">
        {{ employee.primerApellido }} {{ employee.segundoApellido}} {{ employee.primerNombre }} {{
        employee.otrosNombres}}
    </div>
    <ul class="list-group list-group-flush">

        <li class="list-group-item">
            <strong>Tipo de identificacion</strong> : {{ employee.tipoIdentificacion }}
        </li>
        <li class="list-group-item">
            <strong>Numero de identificacion</strong> : {{ employee.numeroIdentificacion }}
        </li>
        <li class="list-group-item">
            <strong>Pais de Empleo</strong> : {{ employee.paisEmpleo }}
        </li>
        <li class="list-group-item">
            <strong>Area</strong> : {{ employee.area }}
        </li>
        <li class="list-group-item">
            <strong>Correo</strong> : {{ employee.correo }}
        </li>
        <li class="list-group-item">
            <strong>Fecha de ingreso</strong> : {{ employee.fechaIngreso | date }}
        </li>
        <li class="list-group-item">
            <strong>Fecha de registro</strong> : {{ employee.fechaIngreso | date }}
        </li>


        <li class="list-group-item">
            <a [routerLink]="['/employee',employee.id]" class="btn btn-outline-primary btn-block">Modificar
                información</a>
        </li>
        <li class="list-group-item">
            <a (click)="delete()" class="btn btn-outline-primary btn-block">Eliminar
                información</a>
        </li>
        <!-- [routerLink]="['/employee',employee.id]" -->
    </ul>
</div>