<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="src/assets/cidenet.png" max-width="100%" alt="" loading="lazy" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/home']">Inicio</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Empleados
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/employees']">Listar empleados</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['employees','add']">Crear empleado</a>
                    </div>
                </li>
            </ul>
            <form [formGroup]="navForm" class="form-inline my-2 my-lg-0">
                <input formControlName="busqueda" (keyup.enter)="getEmployees(numeroIdentificacion.value)"
                    class="form-control mr-sm-2" type="text" placeholder="Buscar empleados" aria-label="Search"
                    #numeroIdentificacion required />
                <button (click)="getEmployees(numeroIdentificacion.value)" class="btn btn-outline-primary my-2 my-sm-0"
                    type="text">
                    Buscar
                </button>
            </form>
        </div>
    </div>
</nav>