<h3 class="mt-5">Buscado: <small>{{numeroIdentificacion}}</small></h3>
<hr />

<div *ngIf="filteredEmployees.length == 0" class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            No existen resultados con el numeroIdentificacion {{numeroIdentificacion}}
        </div>
    </div>
</div>

<div *ngIf="filteredEmployees" class="card-columns mt-5 text-center animated fadeIn">
    <app-employee [employee]="employee" *ngFor="let employee of filteredEmployees"></app-employee>
</div>